.our-story-main{
    background-color: #C59E60;
}

.our-team-main{
    background-color: #31511E;
    min-height: 700px;
  padding: 30px, 0; 
}
.card-name{
    background-color: rgb(197, 158, 96);
    font-style: italic;
    text-align: center;
}
.card-image{
   height: 450px;
    object-fit: cover; 
}
.our-team-text{
    padding-bottom:30px;
    padding-top:30px;
color: #C59E60;
font-family: 'MedievalSharp', sans-serif;
}
.card-about-text{
    color: #fff;
    font-family: 'MedievalSharp', sans-serif;
}
/* Flip effect ANIMATION */
.image-flip {
    perspective: 1000px;  /* Enables 3D space for flipping */
}

.mainflip {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.frontside, .backside {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.frontside {
    z-index: 2;  /* Keeps the front side on top initially */
}

.backside {
    transform: rotateY(180deg); /* Initially hidden behind the front side */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Flip on hover */
.image-flip:hover .mainflip {
    transform: rotateY(180deg); /* Flips the card */
}