.gem-image{
    height: 400px;
    width:400px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.gem-text{
    font-family: 'MedievalSharp', sans-serif;
    display: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateX(20px); 
    padding-left: 30px;
    max-width: 600px;
    background-color: rgb(49, 81, 30, 91%);
    padding:20px
}
.gem-text.show {
    display: block;
    opacity: 1;
    transform: translateX(0);
    color:black;
}

.gem-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.gem-image:hover {
    transform: scale(1.05); 
}
.map-text {
    font-family: 'MedievalSharp', sans-serif;
}

.map-title{
    font-family: 'MedievalSharp', sans-serif;
    font-weight: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gems-main-title{
    font-family: 'MedievalSharp', sans-serif;
    font-weight: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}