/* Nav styling */
.nav-main{   
    display: flex;
        background-color: rgba(49,81,30,80%) ;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px 10px 30px;
    
    }
    .nav-logo{
        max-width: 150px; 
        height: auto;
    }
    .nav-list{
        margin-bottom:0px;
        list-style-type:none;
        /* padding:0px; */
        /* display: flex; */
       text-align: end;
    }

    .nav-item{
        margin-left: 20px; 
        font-size: 20px;
        font-weight: 700;
        color: #C59E60;
        font-family: 'MedievalSharp', sans-serif;
        white-space: nowrap; 
        display: flex; 
    }
    .nav-item:hover{
    color: bisque;
    
    }
    .nav-item a {
        color: inherit; 
        display: block; 
    }

    .navbar-toggler{
        color:#C59E60 ;
      font-size: 30px !important;
      margin-right:30px
    }
    
    /* footer */
    #all-footer{
        background-color: rgba(49,81,30,80%) ;
        height: 200px;
        color:#C59E60;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .socialm{
        font-size: 3rem;
        margin: 0 10px; 
        cursor: pointer; 
        color:#C59E60;
    
    }
    .socialm:hover{
        color: antiquewhite;
    }
    .main-footer-box{
        align-items: center;
    }
  
    /* mobile version */
    @media only screen and (max-width: 990px) {
       .nav-item{
        /* align-items: center; */
        align-self: center;
        text-align:center;
       }
       .nav-logo{
        max-width: 100px; 
        height: auto;
    }
    .socialm{
        font-size: 2rem;
    }
      }


