.shop-title{
    background-color: #C59E60;
  z-index: 2;
width:40%;
position: absolute;
top: 50%;
left: 30%;
align-items: center;
text-align: center;

}
.hero-img-shop{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: -1;
}
.item-price{
  color: green;
}
.shop-item-card{

 max-width: 250px;
 width: 100%;
}
#shop-cards-main{
margin-top: 50px ;
margin-bottom: 50px;
gap:20px;
display: flex;
flex-wrap: wrap;  /* Allow the cards to wrap to the next line */
justify-content: space-around; 
}
.cart-icon{
font-size: 30px;
}
.cart-icon:hover{
  color: green;

}
@media only screen and (max-width: 990px) {
  #shop-cards-main{
    margin-top: 0px ;
    margin-bottom: 0px;
    gap:10px;

    }
    .shop-title{
      background-color: #C59E60;
   
  width:50%;
  position: absolute;
  top: 10%;
  left: 30%;
  }
  .hero-img-shop{
    height: 400px;
}
}