.hero-img-shop-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;      
  position: relative;
  width: 100%;
  height: 600px;
}
.hero-img-shop{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shop-title{
  background-color: #C59E60;
  z-index: 1;
width:40%;
position: absolute;
justify-content: center;
text-align: center;
align-items: center;
text-align: center;
object-fit: cover; 
}
.item-price{
  color: green;
}
.shop-item-card{
 max-width: 250px;
 width: 100%;
}
#shop-cards-main{
margin-top: 50px ;
margin-bottom: 50px;
gap:20px;
display: flex;
flex-wrap: wrap;  
justify-content: space-around; 
}
.cart-icon{
font-size: 30px;
}
.cart-icon:hover{
  color: green;

}

/* smaller sreen responsivness */
@media only screen and (max-width: 990px) {
  #shop-cards-main{
    margin-top: 0px ;
    margin-bottom: 0px;
    gap:10px;
    }
    .shop-title{
      background-color: #C59E60;
  position: absolute;
  font-size: 20px;
  }
  .hero-img-shop-wrapper {
    height: 400px;
}

.small-text-on-footer{
  font-size: 10px;
}

.shop-item-card{
  width:300px !important;
}
}